# 1. Matikan Directory Browsing
Options -Indexes

# 2. Lindungi file sensitif
<FilesMatch "^\.|\.(sql|log|ini|sh|bak|json|lock|md)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# 3. Lindungi file konfigurasi
<Files "composer.json">
    Order allow,deny
    Deny from all
</Files>

# 4. Lindungi folder .git
RewriteEngine On
RewriteRule ^\.git - [F,L]

# 5. MVC Routing - Forward all to public
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
